name: Veracode Build Java Maven Application

on:
  workflow_call:
    inputs:
      repository:
        required: true
        type: string
      ref:
        required: true
        type: string
      token:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          repository: ${{ inputs.repository }}
          ref: ${{ inputs.ref }}
          token: ${{ inputs.token }}
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '6.0.x'
      - name: Build
        run: |
          dotnet restore
          dotnet publish -c Debug -o ./output -p:UseAppHost=false
      - name: Create zip archive
        run: zip -r veracode.zip ./output

      - uses: actions/upload-artifact@v3
        with:
          name: veracode-artifact
          path: veracode.zip
